.logoPlace{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    right: 50px;
    top: 50px;
    width: 200px;
    
    }
    .centriranLogo{
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }


h1 span{
    display: inline-flex;
}
h1 span:nth-child(even){
    overflow: hidden;
    transition: ease-in-out 0.3s;
    letter-spacing: -1em;
}

h1:hover span:nth-child(even){
letter-spacing: 0;
}